# Backend
MONGODB_URI=
HUGGINGFACE_API_KEY=
PORT=3001

# Frontend 

# URL if running in Docker Compose
API_BASE_URL_SERVER=http://backend:3001
# Url if running locally
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001